speakbetter.duckdns.org {
	encode zstd gzip

	request_body {
		max_size 30MB
	}

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		Permissions-Policy "microphone=(self)"
	}

	log {
		output stdout
		format filter {
			wrap json
			fields {
				request>headers>Authorization delete
				request>headers>Cookie delete
			}
		}
	}

	handle /api/* {
		reverse_proxy api:8000
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
